<!DOCTYPE html>
<html lang="pt-br">
<head>
<!-- Meta tags Obrigatórias -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"	crossorigin="anonymous">
<link href="../static/css/indexLayout.css" th:href="@{/css/cadastroMarketplaceLayout.css}" rel="stylesheet" />

<title>Combinação de Taxonomias</title>
</head>
<body>
	  <section class="order-form my-4 mx-4">
	    <div class="container pt-4">

	      <div class="row">
	        <div class="col-12">
	          <h1>Combinação de Taxonomias</h1>
	          <span>Cadastro do Marketplace</span>
	          <hr class="mt-1">
	        </div>
	        <div class="col-12">
				<form action="#" th:action="@{/salvacadastromarketplace}" th:object="${marketplace}" method="post">
					<input type="hidden" th:field="*{id}">
					<div class="row mx-4">
						<div class="col-12 mb-2">
						  <label class="order-form-label">Nome do Marketplace</label>
						</div>
						<div class="col-12">
						  <input type="text" class="order-form-input" th:field="*{nome}" maxlength="150" placeholder="Informe o nome do marketplace"/>
						</div>
					</div>

					<div class="row mt-3 mx-4">
						<div class="col-12">
						  <label class="order-form-label">Url da API para get das categorias</label>
						</div>
						<div class="col-12">
						  <input type="text" class="order-form-input" th:field="*{urlAPIGetCategorias}" maxlength="150" placeholder="api.marketplace.com.br/category"/>
						</div>
					</div>

					<div class="row mt-3 mx-4">
						<div class="col-12">
						  <label class="order-form-label">Url da API para get dos atributos</label>
						</div>
						<div class="col-12">
						  <input type="text" class="order-form-input" th:field="*{urlAPIGetAtributos}" maxlength="150" placeholder="api.marketplace.com.br/category/{categoryId}/attribute"/>
						</div>
					</div>

					<div class="row mt-4 float-right">
						<div class="col-6">
						  <button type="button" id="bntCancelarCadastro" class="btn btn-dark d-block mx-auto btn-submit">Cancelar</button>
						</div>
						<div class="col-6">
						  <button type="submit" id="btnSubmit" class="btn btn-success d-block mx-auto btn-submit">Salvar</button>
						</div>						
					</div>
				</form>
	        </div>
	      </div>
	    </div>
	  </section>
	<!-- JavaScript -->
	<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"	crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
  	<script type="text/javascript" th:src="@{/scripts/cadastroMarketplace.js}" ></script> 		
</body>
</html>